@page "/"

<PageTitle>Bloggit</PageTitle>

<h1>Bloggit - your simple, no-hassle blogging platform</h1>

<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>
<p>Welcome to your new app.</p>