@page "/{User}/{Slug}/edit"


<h3>Editing blog: @Slug for user: @User</h3>

@code {
    [Parameter] public required string User { get; set; }
    [Parameter] public required string Slug { get; set; }

    protected override Task OnParametersSetAsync()
    {
        // here can fetch the blog contents
        
        return base.OnParametersSetAsync();
    }

}